.subscription {
  display: grid;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.subscription .select-plan {
  grid-column: 1/ 3;
  padding: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub-text {
    max-width: 450px;
    margin-top: 18px;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.5;
}

.text-x {
  padding-top: 20px;
  font-family: "Graphik Web", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.5px;
}

.subscription .base-plan {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #ccc;
  font-size: 30px;
}

.base-plan .bundle-1 {
  display: grid;
  justify-content: center;
  align-items: center;
}

.base-plan .bundle-2 {
  display: grid;
  justify-content: center;
  align-items: center;
}

.base-plan .bundle-1 img {
  width: 70px;
  margin: 10px;
}

.base-plan .bundle-2 img {
  width: 250px;
  margin: 10px;
  margin-left: 0;
}



/* Trial Ads */
.subscription .free-trial-ads {
  display: grid;
  grid-column: 1 /3;
  justify-content: center;
  align-self: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

.subscription .most-popular {
  background: #1ce783;
  color: black;
  border-radius: 30px;
  padding: 5px 10px;
}

.subscription .legal-text {
  font-size: 15px;
}

.subscription .package-btn {
  font-weight: bold;
  color: #000;
  padding: auto 100px;
}

.trial-margin {
  margin-top: 30px;
}
