.header {
  background-image: linear-gradient(
      0deg,
      transparent 60%,
      rgba(0, 0, 0, 0.2) 90%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("//cnbl-cdn.bamgrid.com/assets/526124a79cff66402dd054d3391099b4546892083c29d25a2d17c8193cc439bf/original");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
