/* @import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --color-variant: #f9e1e3;
  --color-primary: #da3743;
  --color-bg: #fafafa;
  --color-bg2: #ffffff;
  --color-text: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: #0b0c0f;
  color: #fff;
  line-height: 1, 7;
  overflow-x: hidden;
  line-height: 1, 7;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
}
